.borderBox {
  transition: all 0.5s;
  padding: 4;
  border: 3 solid #e6b325;
  max-width: 250px;
  border-radius: 25;
}

.borderBox .text {
  border-radius: 20;
  padding: 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  transition: all 0.5s;
  background: linear-gradient(45deg, #1a1054, #255ff1);
}

.borderBox .text h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
}
.borderBox .text p {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
}

/* HEADER */
.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header .line {
  width: 25px;
  height: 5px;
  background-color: #e6b325;
}
.header .borderBox:first-child {
  transform: translateY(40px);
}
.header .borderBox:nth-child(3) {
  transform: translateY(20px);
}
.header .line:nth-child(2) {
  transform: translateY(30px);
}
.header .line:nth-child(4) {
  transform: translateY(10px);
}

/* CONTENT */
.content {
    flex: 1;
}

.content .borderBox:first-child{
    transform: translateY(130px) scale(1.2  );
}

/* ACTION */
.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
}
/* ACTION BUTTON */
.action .btn {
  border-radius: 20;
  padding: 8px 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  background: linear-gradient(45deg, #1a1054, #255ff1);
  border: none;
  color: white;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.action .btn:active {
  background: #e6b325;
  box-shadow: inset 3px 3px 3px rgba(227, 234, 243, 0.45),
    inset -3px -3px 3px rgba(216, 219, 223, 0.45);
}
