.borderBox {
  transition: all 0.5s;
  padding: 4px;
  border: 3px solid #e6b325;
  max-width: 320px;
  border-radius: 25px;
}

.borderBox .text {
  border-radius: 20px;
  padding: 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  transition: all 0.5s;
  background: linear-gradient(45deg, #1a1054, #255ff1);
}

.borderBox .text h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
}
.borderBox .text p {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
}

/* HEADER */
.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header .line {
  width: 25px;
  height: 5px;
  background-color: #e6b325;
}
.header .borderBox:first-child {
  transform: translateY(40px);
}
.header .borderBox:nth-child(3) {
  transform: translateY(20px);
}
.header .line:nth-child(2) {
  transform: translateY(30px);
}
.header .line:nth-child(4) {
  transform: translateY(10px);
}

/* CONTENT */
.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.content .wrapStart {
  transform: translateY(130px) scale(1.2);
}

.wrapStep1 {
  margin-top: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-500px, 500px);
  transition: all 0.5s;

}
.wrapStep1 .line {
  width: 5px;
  height: 25px;
  background-color: #e6b325;
}
.wrapStep1 .branch {
  height: 25px;
  width: 50%;
  border-inline: 5px solid #e6b325;
  border-top: 5px solid #e6b325;
}
.wrapStep1 .wrapBranch {
  width: 73%;
  display: flex;
  justify-content: space-between;
}
.wrapStep1 .wrapBranch .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapStep2 {
  transform: translate(500px, 500px);
  transition: all 0.5s;
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.wrapStep2 .borderBox {
  margin-block: 15px;
}
.wrapStep2 p {
  font-size: 18px !important;
  line-height: 1 !important;
}
.wrapStep2 .wrap {
  display: flex;
  align-items: center;
}
.wrapStep2 .branch {
  height: 65%;
  width: 40px;
  border: 5px solid #e6b325;
  border-right: none;
  display: flex;
  align-items: center;
}
.wrapStep2 .branch .line {
  height: 5px;
  background-color: #e6b325;
  width: 100%;
}

.wrapStep3 {
  transform: translate(0, -1500px);
  width: 90%;
  height: 250px;
  transition: all 0.5s;
  margin-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapStep3 .wrap {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
.wrapStep3 .wrap:last-child {
  flex-direction: row-reverse;
}
.wrapStep3 .wrap .borderBox {
  max-width: 330px;
}
.wrapStep3 .wrapExample {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45),
    5px 5px 10px rgba(220, 224, 224, 0.45), 10px 10px 1px #e6b325;
  transition: all 0.5s;
}
.wrapExample .line {
  width: 30px;
  height: 5px;
  background-color: #e6b325;
}
.wrapExample .wrapBranch {
  display: flex;
  align-items: center;
}
.wrapExample .branch {
  width: 35px;
  height: 100px;
  border: 5px solid #e6b325;
  border-right: none;
}
.wrapExample .wrapBranch .borderBox {
  margin-block: 15px;
}
.wrapExample p {
  font-size: 18px !important;
}
.wrap .icon {
  color: #e6b325;
  font-size: 40px;
  margin-inline: 20px;
  animation: iconAnimation 0.5s 0.5s infinite;
}
@keyframes iconAnimation {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(20px);
  }
}

/* ACTION */
.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px;
}
/* ACTION BUTTON */
.action .btn {
  border-radius: 20px;
  padding: 8px 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  background: linear-gradient(45deg, #1a1054, #255ff1);
  border: none;
  color: white;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.action .btn:active {
  background: #e6b325;
  box-shadow: inset 3px 3px 3px rgba(227, 234, 243, 0.45),
    inset -3px -3px 3px rgba(216, 219, 223, 0.45);
}

/* ANIMATION */
.start{
  transform: translateY(-500px) scale(1);
}
.step1{
  transform: translate(0, -100px) !important;
}
.step2{
  transform: translate(0, -450px) !important;
}
.step3{
  transform: translate(0,-700px) !important;
}
.step4{
  transform: translate(0,-1050px) !important;
}