*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-block: 20px;
}

::-webkit-scrollbar {
  display: none; 
}