.content {
  width: 100%;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
}

/* CONTENT */
.borderBox {
  transition: all 0.5s;
  padding: 4;
  border: 3 solid #e6b325;
  max-width: 250px;
  border-radius: 25;
}
.borderBox .text {
  border-radius: 20;
  padding: 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  transition: all 0.5s;
  background: linear-gradient(45deg, #1a1054, #255ff1);
}

.borderBox .text h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.borderBox .text p {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}
.content .branch {
  width: 35%;
  height: 30px;
  border-inline: 5px solid #e6b325;
  border-top: 5px solid #e6b325;
  transform-origin: bottom;
  transform: scaleY(0);
  opacity: 0;

  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
}
.content .wrap {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.content .line {
  background-color: #e6b325;
  transform-origin: bottom;
  width: 5px;
  height: 30px;
  transition: all 0.5s;
}

/* ACTION BUTTON */
.action .btn {
  border-radius: 20;
  padding: 8px 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  background: linear-gradient(45deg, #1a1054, #255ff1);
  border: none;
  color: white;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.action .btn:active {
  background: #e6b325;
  box-shadow: inset 3px 3px 3px rgba(227, 234, 243, 0.45),
    inset -3px -3px 3px rgba(216, 219, 223, 0.45);
}

/* ANIMATION */
.borderBox:not(:first-child),
.wrap .borderBox,
.line,
.branch {
  opacity: 0;
}

.end {
  transition-delay: 1s;
  transform: translateY(200px) scale(1.5);
}
.start {
  transform: translateY(0) scale(1);
}

.activeLine {
  transform: scaleY(1);
  opacity: 1;
  transition-delay: 1s;
}
.inactiveLine {
  transform: scaleY(0);
  opacity: 0;
  transition-delay: 0.5s;
}

.step1 {
  transition-delay: 1s;
  transform-style: preserve-3d;
  transform: rotateX(360deg);
  opacity: 1 !important;
}

.content .branch.active {
  transform: scaleY(1);
  opacity: 1;
}
