.content {
  position: relative;
  right: 0;
  transition: right 1s ease;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content:first-child {
  width: 100%;
  overflow: auto;
}

.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px;
}

/* CONTENT */
.borderBox {
  transition: all 0.5s;
  padding: 4px;
  border: 3px solid #e6b325;
  max-width: 250px;
  border-radius: 25px;
}
.borderBox .text {
  border-radius: 20px;
  padding: 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  transition: all 0.5s;
  background: linear-gradient(45deg, #1a1054, #255ff1);
}

.borderBox .text h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.borderBox .text p {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}
.content .branch {
  width: 35%;
  height: 30px;
  border-inline: 5px solid #e6b325;
  border-top: 5px solid #e6b325;
  transform-origin: bottom;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
}
.content .wrap {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.content .line {
  background-color: #e6b325;
  transform-origin: bottom;
  width: 5px;
  height: 30px;
  transition: all 0.5s;
}

/* ACTION BUTTON */
.action .btn {
  border-radius: 20px;
  padding: 8px 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  background: linear-gradient(45deg, #1a1054, #255ff1);
  border: none;
  color: white;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.action .btn:active {
  background: #e6b325;
  box-shadow: inset 3px 3px 3px rgba(227, 234, 243, 0.45),
    inset -3px -3px 3px rgba(216, 219, 223, 0.45);
}

/* ANIMATION */
.content:first-child .borderBox:not(:first-child),
.content:first-child .wrap .borderBox,
.content:first-child .line,
.content:first-child .branch {
  opacity: 0;
}

.end {
  transition-delay: 1s;
  transform: translateY(200px) scale(1.5);
}
.start {
  transform: translateY(0) scale(1);
}

.activeLine {
  transform: scaleY(1);
  opacity: 1 !important;
  transition-delay: 1s;
}
.inactiveLine {
  transform: scaleY(0);
  opacity: 0;
  transition-delay: 0.5s;
}

.step1 {
  transition-delay: 1s;
  transform-style: preserve-3d;
  transform: rotateX(360deg);
  opacity: 1 !important;
}

.content .branch.active {
  transform: scaleY(1);
  opacity: 1;
}

/* FUNCTION SECTION */
.notShow {
  position: absolute;
  right: -2000px;
  transition: all 1s;
}
.content:nth-child(2) {
  width: 80%;
}

.content:nth-child(2) .title {
  max-width: 70%;
  margin: 20px 0 50px;
}
.content:nth-child(2) .title + div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content:nth-child(2) .wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.content:nth-child(2) .wrap .borderBox:first-child {
  background-color: #e6b325;
}
.content:nth-child(2) .icon {
  color: #e6b325;
  font-size: 50px;
  margin-block: 20px;
}

/* ANIMASI */
.content:nth-child(2).show .wrap:nth-child(1) .icon {
  animation: iconAnimation 0.5s infinite;
}
.content:nth-child(2).show .wrap:nth-child(2) .icon {
  animation: iconAnimation 0.5s 0.2s infinite;
}
.content:nth-child(2).show .wrap:nth-child(3) .icon {
  animation: iconAnimation 0.5s 0.5s infinite;
}

@keyframes iconAnimation {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(20px);
  }
}

.show {
  transform: translate(0) scale(1);
}

.content:nth-child(2).notShow .wrap {
  --z: 5;
  --y: 0px;
}

.content:nth-child(2).notShow .wrap:nth-child(1) { --z: 5; --y: 100px; }
.content:nth-child(2).notShow .wrap:nth-child(2) { --z: 4; --y: 0px; }
.content:nth-child(2).notShow .wrap:nth-child(3) { --z: 3; --y: -100px; }
.content:nth-child(2).notShow .wrap:nth-child(4) { --z: 2; --y: -200px; }

.content:nth-child(2).notShow .borderBox {
  z-index: var(--z);
  transform: scale(1.5);
}

.content:nth-child(2).notShow .borderBox:first-child {
  transform: translate(235px, var(--y)) scale(1.5);
}

.content:nth-child(2).notShow .borderBox:last-child {
  transform: translate(-235px, calc(var(--y) + 100px)) scale(1.5);
}


.content:nth-child(2).show .wrap {
  --d: 0s;
}

.content:nth-child(2).show .wrap:nth-child(1) { --d: 0.5s; }
.content:nth-child(2).show .wrap:nth-child(2) { --d: 1s; }
.content:nth-child(2).show .wrap:nth-child(3) { --d: 1.5s; }
.content:nth-child(2).show .wrap:nth-child(4) { --d: 2s; }

.content:nth-child(2).show .borderBox {
  transition-delay: var(--d);
}


.content:nth-child(2).show .wrap:nth-child(4) .icon {
  animation: step9 2s forwards;
  z-index: 1;
}
@keyframes step9 {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translate(0);
  }
}
