.container {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(45deg, #1a1054, #255ff1); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBox {
  width: 85%;
  height: 85%;
  background: #ffffff;
  border-radius: 40px;
  padding: 25px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  /* font-size: 50px; */
  color: #1a1054;
  margin-bottom: 15px;
}

.messagesArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-radius: 20px;
}

.message {
  max-width: 75%;
  margin-bottom: 10px;
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 18px;
  background: #eee;
}

.user {
  background: #255ff1;
  color: white;
  align-self: flex-end;
}

.bot {
  background: #ffd44d;
  color: #000;
  align-self: flex-start;
}

.inputArea {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input {
  flex: 1;
  font-size: 20px;
  border-radius: 15px;
  padding: 12px 15px;
  border: 2px solid #255ff1;
  outline: none;
}

.btnSend {
  background: #255ff1;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 15px;
  cursor: pointer;
}
