.page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.firstLayer {
  background: linear-gradient(45deg, black, #3533cd);
  width: 95%;
  height: 90%;
  border-radius: 60;
  box-shadow: inset 5px 5px 5px rgba(163, 177, 198, 0.45),
    inset -5px -5px 5px rgba(138, 150, 168, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 300% 300%;
  animation: moveGradient 5s infinite linear;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chatPage{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  width: 60%;
  height: 80%;
  margin-right: 50px;
  padding: 30px;
  border-radius: 50px;
  box-shadow: inset 5px 5px 5px rgba(163, 177, 198, 0.45),
    inset -5px -5px 5px rgba(138, 150, 168, 0.45);
}
.header{
  display: flex;
}

.header .backBtn,
.header h3{
  margin-inline: 5px;
  color: #2a2d34;
  background-color: white;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 5px rgba(122, 125, 130, 0.45),
    inset -3px -3px 5px rgba(116, 121, 130, 0.45);
}
.gif{
  width: 300px;
  height: 500px;
  background-color: red;
}
/* .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBox {
  width: 85%;
  height: 85%;
  background: #ffffff;
  border-radius: 40px;
  padding: 25px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  color: #1a1054;
  margin-bottom: 15px;
}

.messagesArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-radius: 20px;
}

.message {
  max-width: 75%;
  margin-bottom: 10px;
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 18px;
  background: #eee;
}

.user {
  background: #255ff1;
  color: white;
  align-self: flex-end;
}

.bot {
  background: #ffd44d;
  color: #000;
  align-self: flex-start;
}

.inputArea {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input {
  flex: 1;
  font-size: 20px;
  border-radius: 15px;
  padding: 12px 15px;
  border: 2px solid #255ff1;
  outline: none;
}

.btnSend {
  background: #255ff1;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 15px;
  cursor: pointer;
} */
