.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  width: 70%;
}

.wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-block: 10px;
}
.wrap:first-child {
  margin-bottom: 20px;
}
.wrap:first-child .borderBox {
  background-color: #e6b325;
}
.icon {
  color: #e6b325;
  font-size: 50;
}
.borderBox {
  transition: all 0.5s;
  padding: 4;
  border: 3 solid #e6b325;
  width: 250px;
  border-radius: 25;
}
.borderBox .text {
  border-radius: 20;
  padding: 15px;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  transition: all 0.5s;
  background: linear-gradient(45deg, #1a1054, #255ff1);
}

.borderBox .text h1 {
  font-size: 35px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.borderBox .text p {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

/* ANIMASI */
.wrap:nth-child(2) .icon.active {
  animation: iconAnimation 0.5s infinite;
}
.wrap:nth-child(3) .icon.active {
  animation: iconAnimation 0.5s 0.2s infinite;
}
.wrap:nth-child(4) .icon.active {
  animation: iconAnimation 0.5s 0.5s infinite;
}

@keyframes iconAnimation {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(20px);
  }
}

.wrap:first-child .borderBox:first-child {
  transform: translate(235px, 100px) scale(1.5);
  animation: step1 0.5s 0.5s forwards;
  z-index: 5;
}
.wrap:first-child .borderBox:last-child {
  transform: translate(-235px, 200px) scale(1.5);
  animation: step2 0.5s 0.5s forwards;
  z-index: 5;
}

.wrap:nth-child(2) .borderBox:first-child {
  animation: step3 0.5s 1s forwards;
  z-index: 4;
  transform: translate(235px, 0) scale(1.5);
}
.wrap:nth-child(2) .borderBox:last-child {
  animation: step4 0.5s 1s forwards;
  z-index: 4;
  transform: translate(-235px, 100px) scale(1.5);
}

.wrap:nth-child(3) .borderBox:first-child {
  animation: step5 0.5s 1.5s forwards;
  z-index: 3;
  transform: translate(235px, -100px) scale(1.5);
}
.wrap:nth-child(3) .borderBox:last-child {
  animation: step6 0.5s 1.5s forwards;
  z-index: 3;
  transform: translate(-235px, 10px) scale(1.5);
}

.wrap:nth-child(4) .borderBox:first-child {
  animation: step7 0.5s 2s forwards;
  z-index: 2;
  transform: translate(235px, -200px) scale(1.5);
}
.wrap:nth-child(4) .borderBox:last-child {
  animation: step8 0.5s 2s forwards;
  z-index: 2;
  transform: translate(-235px, -150px) scale(1.5);
}
.wrap:nth-child(4) .icon {
  animation: step9 2s forwards;
  z-index: 1;
}

@keyframes step1 {
  0% {
    transform: translate(235px, 100px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
@keyframes step2 {
  0% {
    transform: translate(-235px, 200px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
@keyframes step3 {
  0% {
    transform: translate(235px, 0) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
@keyframes step4 {
  0% {
    transform: translate(-235px, 100px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
@keyframes step5 {
  0% {
    transform: translate(235px, -100px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
@keyframes step6 {
  0% {
    transform: translate(-235px, 10px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
@keyframes step7 {
  0% {
    transform: translate(235px, -200px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
@keyframes step8 {
  0% {
    transform: translate(-235px, -150px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
@keyframes step9 {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translate(0);
  }
}
