.sidebar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: openSidebarAnimation 0.5s forwards;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstLayer {
  background: linear-gradient(45deg, #1a1054, #255ff1);
  width: 95%;
  height: 90%;
  border-radius: 60px;
  box-shadow: inset 5px 5px 5px rgba(163, 177, 198, 0.45),
    inset -5px -5px 5px rgba(138, 150, 168, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondLayer {
  position: relative;
  background-color: white;
  width: 93%;
  height: 80vh;
  border-radius: 40px;
  box-shadow: inset 10px 10px 10px rgba(126, 136, 150, 0.45),
    inset -8px -10px 10px rgba(141, 153, 172, 0.45);
}

/* TOGGLE OPEN SIDEBAR */
.wrap {
  display: flex;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 999;
}
.toggleMenu {
  margin-inline: 5px;
  padding: 4px;
  border: 3px solid #e6b325;
  border-radius: 23px;
}
.toggleBtn {
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 8px 15px;
  border: none;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
  display: flex;
  align-items: center;
  transition: all 0.5s;
  background: linear-gradient(45deg, #1a1054, #255ff1);
  line-height: 1;
}
.toggleIcon {
  font-size: 20px;
  transition: all 0.5s;
  margin-bottom: 5px;
}
.openToggle {
  padding-bottom: 3px;
  transform: rotate(270deg);
}
.closeToggle {
  padding-top: 3px;
  transform: rotate(90deg);
}

/* BUTTON CHATBOT AI */
.toggleMenu a {
  display: inline-block;
}

/* SIDEBAR */
.closeSidebar {
  overflow: hidden;
  animation: closeSidebarAnimation 0.5s forwards;
}
.sidebar .secondLayer {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.borderMenu {
  padding: 4px;
  border-radius: 23px;
  border: 3px solid #e6b325;
}
.borderMenu .a {
  font-size: 20px;
  line-height: 1;
  border-radius: 18px;
  width: 100%;
  padding: 6px 15px;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(45deg, #1a1054, #255ff1);
  text-decoration: none;
  color: white;
  box-shadow: inset 3px 3px 3px rgba(163, 177, 198, 0.45),
    inset -3px -3px 3px rgba(138, 150, 168, 0.45);
}
.activeMenu {
  border: none;
  padding: 10px;
  background-color: #e6b325;
  box-shadow: inset 3px 3px 3px rgba(223, 229, 238, 0.45),
    inset -3px -3px 3px rgba(129, 139, 155, 0.45);
}

@keyframes openSidebarAnimation {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 27%;
    opacity: 1;
  }
}
@keyframes closeSidebarAnimation {
  0% {
    width: 27%;
    opacity: 1;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}
